
body {
  color: white;
  line-height: 1.6em;
  font-size: 20px;
  font-family: 'Inter Tight', serif;
  overflow-x: hidden;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}
p {
  max-width: 700px;
  margin: 0 auto;
  font-weight: lighter;
}

#wrapper {
  overflow-x: hidden;
}

@media screen and (max-width: 760px) {
  h2 {
    font-size: 18px;
  }
}
