@import "variables";

.banner-image {
  position: relative;
  .header-image {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    img {
      width: 100%;
      height: 85vh;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}

.preface {
  background: linear-gradient(to right, #aacdea 0%, #0068b4 100%);
  margin-top: -7px;
  .preface-teaser {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
    h2 {
      border-top: 6px solid #d3e5f4;
      padding-top: 30px;
      margin-top: 0;
    }
  }
  .image-text {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 20px auto;
    .image-left {
      width: 30%;
      img {
        width: 220px;
      }
    }
    .image-right {
      width: 60%;
      img {
        width: 150px;
      }
      p {
        font-size: 17px;
        line-height: 1.2em;
        border-top: 1px solid white;
        padding-top: 13px;
        margin-top: -20px;
      }
    }
  }
}

.inscription, .programm {
  position: relative;
 .main-image {
   img {
     width: 100%;
     height: 85vh;
     object-fit: cover;
   }
 }
  .teaser {
    background: #0000006e;
    position: absolute;
    padding: 85px;
    z-index: 16;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    border-top: 6px solid #d3e5f4;
    margin-top: 0;
    .formular-image {
      text-align: center;
      margin: 90px auto;
      position: relative;
      &:before, &:after {
        content: "";
        height: 16px;
        width: 33%;
        position: absolute;
        border-bottom: 1px solid #9ec6e6;
        margin-top: 40px;
      }
      &:before {
        left: 5%;
      }
      &:after {
        right: 5%;
        margin-top: -19%;
      }
      p {
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.3em;
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
}

.programm {
  position: relative;
  z-index: 30;
  margin: -25px auto;
  .teaser {
    background: none;
    .formular-image {
      &:after, &:before {
        border-bottom: 1px solid #0080FF;
      }
    }
    p, h2 {
      color: $dunkleres-green;
    }
  }
}

@media screen and (max-width: 760px) {
  .preface  {
    .preface-teaser p {
      font-size: 16px;
    }
    .image-text {
      .image-left {
        width: 40%;
      }
      .image-right p {
        font-size: 13px;
      }
    }
  }
}

