@import "variables";

.banner-image {
  position: relative;
  .header-image {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 0 0;
      max-height: 890px;
    }
  }
}

.preface {
  background: linear-gradient(to right, #aacdea 0%, #0068b4 100%);
  margin-top: -7px;
  .preface-teaser {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
    h2 {
      border-top: 6px solid #d3e5f4;
      padding-top: 30px;
      margin-top: 0;
    }
  }
  .image-text {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin: 20px auto;
    .image-left {
      width: 30%;
      img {
        width: 220px;
      }
    }
    .image-right {
      width: 60%;
      img {
        width: 150px;
      }
      p {
        font-size: 17px;
        line-height: 1.2em;
        border-top: 1px solid white;
        padding-top: 13px;
        margin-top: -20px;
      }
    }
  }
}

.inscription {
  background-image: url("../../inhalte/bilder/tmue20201214b037.png");
}

.programm {
  background-image: url("../../inhalte/bilder/programm-bg.jpg");
}

.inscription, .programm {
  position: relative;
  background-position: center center;
  .main-image {
    img {
      width: 100%;
      height: auto;
      max-height: 890px;
      object-fit: cover;
    }
  }
  .teaser {
    background: #0000006e;
    padding: 85px;
    z-index: 16;
    top: 0;
    left: 50%;
    border-top: 6px solid #d3e5f4;
    margin-top: 0;
    .formular-image {
      text-align: center;
      margin: 90px auto;
      position: relative;
      &:before, &:after {
        content: "";
        height: 16px;
        width: 33%;
        border-bottom: 1px solid #9ec6e6;
        margin-top: 40px;
      }
      &:before {
        left: 5%;
      }
      &:after {
        right: 5%;
        margin-top: -19%;
      }
      p {
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.3em;
        letter-spacing: 1px;
        cursor: pointer;
        a {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
}

.inscription {
  .teaser .formular-image p {
    text-shadow: 1px 1px 20px black;
    a {
      color: white;
    }
  }
  .multiple-icons .ce_text p a:after {
    background-color: white;
  }
}

.programm {
  position: relative;
  z-index: 30;
  margin: -25px auto;
  .teaser {
    background: none;
    .formular-image {
      &:after, &:before {
        border-bottom: 1px solid #0080FF;
      }
    }
    p, h2 {
      color: $dunkleres-green;
      a {
        color: $darkest-blue;
      }
    }
  }
  .multiple-icons .ce_text p a:after {
    background-color: #003c62;
  }
}

.multiple-icons {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  .ce_text {
    overflow: visible;
    p {
      a {
        position: relative;
        &:after {
          position: absolute;
          content: '';
          top: 27px;
          left: 0;
          width: 100%;
          height: 0;
          transition: height 250ms;
        }
      }
    }
    &:hover p a:after {
      height: 3px;
    }
  }
}

body.subpage {
  h1,h2,h3,h4,h5 {
    text-align: center;
  }
  #main .inside .mod_article {
    color: black;
    &:first-child {
      margin-top: 80px;
    }
    &:last-child {
      margin-bottom: 200px;
    }
    p {
      margin: 20px auto;
    }
  }
}

#main .mod_article .ce_text:not(.formular-image) p a {
  color: white;
  text-decoration: none;
  position: relative;
  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: white;
    transition: height 250ms;
  }
  &:hover:after {
    height: 4px;
  }
}

body.subpage #main .mod_article .ce_text:not(.formular-image) p a {
  color: black;
  &:after {
    color: black;
    background-color: black;
  }
}

#main .programm .teaser .ce_text:not(.formular-image) p a {
  color: #024545;
  &:after {
    background-color: #024545;
  }
}

.banner {
  background: #00508d;
  text-align: center;
  padding: 50px 0;
}
.banner h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}
.banner p {
  font-size: 45px;
  font-weight: bold;
  margin: 20px auto;
}

@media screen and (max-width: 760px) {
  .preface  {
    .preface-teaser p {
      font-size: 16px;
    }
    .image-text {
      .image-left {
        width: 40%;
      }
      .image-right p {
        font-size: 13px;
      }
    }
  }

  .inscription,.programm {
    .teaser {
      padding: 20px;
    }
  }
}

